
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#status,#number_of_objects
{
font-size: 15px;
}
body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px  10px  10px black ;
    border-radius: 20px;
}
